.app {
  font-family: sans-serif;
  padding: 20px;
}

.accordion {
  width: 200px;
  margin: 0 auto;
}

.band-img {
  width: 600px;
  height: 100%;
  margin: 0 auto;
}

.accordion-item {
  margin-bottom: 10px;
}

.accordion-header {
  padding: 10px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  background-color: #f0f0f0;
}

.accordion-content {
  padding: 10px;
  background-color: #fff;
}

.accordion-header:hover {
  background-color: #e0e0e0;
}

.content {
  display: flex;
  justify-content: center;
}
